{% extends "network/layout.html" %}
{% load static %}
{% block head%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- above line acquired from cs50 chatbot as is used to try to get rid of a techical issue in the browser that may be causing it not to work -->
{% endblock %}
{% block body %}
<!-- following form mostly acquired through cs50.ai prompting -->
    <form id="UserPost">
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" placeholder="Content"></textarea>
        <input type="submit" value="Submit">
    </form>
    <div id = "container4posts">
    </div>
{% endblock %}

