{% extends "network/layout.html" %}

{% block body %}
    <html lang="en">
        <body>
            <form id="post-form" method="POST">
                {% csrf_token %}
                <textarea id="title-content" name = "title" placeholder = "Title"></textarea>
                <textarea id="post-content" name="content" placeholder="Write your post here..."></textarea>
                <input id = "submit-post" type="submit" value="Post">
            </form>
            <div id = "old_posts">
                {% for post in old_posts %}
                    <h6>{{ post.title }}</h6>
                    <p style="color:rgb(43, 42, 42);">{{ post.content }}</p>
                    <p style="color:rgb(43, 42, 42);">{{ post.timestamp }}  {{ post.user }}</p>
                {% endfor %}
            </div>
        </body>
    </html>
{% endblock %}