{% extends "network/layout.html" %}

{% block body %}
    <html lang="en">
        <body>
            <form id="post-form" method="POST">
                {% csrf_token %}
                <textarea id="title-content" name = "title" placeholder = "Title"></textarea>
                <textarea id="post-content" name="content" placeholder="Write your post here..."></textarea>
                <input style="margin-bottom: 5px; " id = "submit-post" type="submit" value="Post">
            </form>
            {% for post in old_posts %}
                <div id = "old_posts">
                    <h5>{{ post.title }}</h5>
                    <h6 style="color:rgb(43, 42, 42);">{{ post.content }}</h6>
                    <p style="color:rgb(43, 42, 42);">{{ post.timestamp }}  {{ post.user }}</p>
                </div>
            {% endfor %}
        </body>
    </html>
{% endblock %}