{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Blue Bird Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'smprofile' username=user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
                <h1>{{ username }} {{ followstatus }}</h1>
                {% if username != request.user.username %}
                    <button type="button" class="btn btn-primary" id ="follow_button" data-username="{{ username }}" data-followstatus="{{ followstatus }}">Follow</button>
                {% endif %}
                {% for post in selected_users_old_posts %}
                    <div id = "old_posts">
                        <h5>{{ post.title }}</h5>
                        <h6 style="color:rgb(43, 42, 42);">{{ post.content }}</h6>
                        <p style=" color:rgb(43, 42, 42);"><span style = "font-size: x-small;">{{ post.timestamp }}</span> ❤️ <span>{{ post.likes }}</span></p>
                        {% if post.user.username == request.user.username %}
                            <button class="btn btn-light" id="delete-button" data-id="{{ post.id }}">Delete</button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
        <script src="../../static/network/smprofile.js"></script>
    </body>
</html>
        